<div class = "row">
    <div class="col-sm-2 col-md-2 col-lg-2" id="jumboMini">

        <div class="jumPlace">
            
        </div>
    </div>


    <div class="col-sm-8 col-md-8 col-lg-8" id="jumbo">

<div class="jumbotron">
  <h3><i>The first step to body language improvement is awareness. </i><br><br>Moodie's
    mission is to enhance that awareness by teaching you to recognize 
    microexpressions. </h3> 
</div>
  <div class="col-sm-2 col-md-2 col-lg-2" id="jumboMini">

        <div class="jumPlace">
            
        </div>
    </div>
</div>

<div id="container-index" class="container">
<div class="row1">
  <div class="col-sm-6 col-md-6 col-lg-6" id="face-div">
    <div class="thumbnail">
      <br>
      <img src="assets/images/Happy-Face.png" alt="happy-face" width="260" height="260">
      <br>
    </div>
  </div>
   <div class="col-sm-6 col-md-6 col-lg-6" id="results">
    <div class="thumbnail">
      <div class="caption">
        <p><strong><u>Results:</u></strong> <br>
          <br>
          Happiness :<span style="margin-left: 1em;">60.66 </span><br>
          <br>
          Fear  :  <span style="margin-left: 1em;">4.15</span><br>
          <br>
          Surprised :<span style="margin-left: 1em;">20.11</span><br>
          <br>
          Anger :<span style="margin-left: 1em;">2.67</span><br>
          <br>
          Disgust :<span style="margin-left: 1em;">1.89</span><br>
          <br>
          Neutral :   <span style="margin-left: 1em;">10.76</span><br>
          <br>
          Sadness :   <span style="margin-left: 1em;">3.76</span><br>
          
        </p>
      </div>
    </div>
  </div>
</div>
        </div>
  		</div>
	
  	</div>
  </div>
  <br><br>
   