

<div class="jumbotron">
  <h3>The first step to body language improvement is awareness. </h3> 
  <p> A microexpression is a brief, involuntary facial expression that is shown 
    on the face of humans according to the emotions that are being experienced. 
    Unlike regular pro-longed facial expressions, it is difficult to fake a 
    microexpression.</p> 
  <h3>Moodie's mission is to enhance that awareness by teaching you to recognize 
    microexpressions. </h3>
  <p>Use your webcam or cell camera to take a photo and our software will analyze
    and display the emotions the face is displaying. Make a game out of it by trying
    to match the emotions on the screen or by trying to match others facial 
    expressions based on pictures.</p>
</div>

<div id="container-index" class="container">
<div class="row1">
  <div class="col-sm-6 col-md-6 col-lg-6" id="face-div">
    <div class="thumbnail">
      <br>
      <img src="assets/images/Happy-Face.png" alt="happy-face" width="260" height="260">
      <br>
    </div>
  </div>
   <div class="col-sm-6 col-md-6 col-lg-6" id="results">
    <div class="thumbnail">
      <div class="caption">
        <p><strong><u>Results:</u></strong> <br>
          <br>
          Happiness :<span style="margin-left: 1em;">60.66 </span><br>
          <br>
          Fear  :  <span style="margin-left: 1em;">4.158</span><br>
          <br>
          Surprised :<span style="margin-left: 1em;">20.11</span><br>
          <br>
          Anger :<span style="margin-left: 1em;">2.67</span><br>
          <br>
          Disgust :<span style="margin-left: 1em;">1.89</span><br>
          <br>
          Neutral :   <span style="margin-left: 1em;">10.76</span><br>
          <br>
          Sadness :   <span style="margin-left: 1em;">3.76</span><br>
          
        </p>
      </div>
    </div>
  </div>
</div>
        </div>
  		</div>
	
  	</div>
  </div>
  <br><br>
   