<div class="jumbotron">
        <h2>Use the webcam application below to take a picture of yourself. Moodie will give you results below.</h2>
     </div>

     <div class="panel panel-default top">
            <div class="panel-heading top">
              <h3 class="panel-title">Webcam Photo Taker</h3>
            </div>
            <div class="panel-body">
              <img src="assets/images/cool-kid.jpg" alt="cool-kid" width="400" height="400">
              <br>
              <br>
              <button type="button" id="take-photo-btn" class="btn btn-primary">Take Photo!</button>
            </div>
          </div>
                <br>
          <div class="panel panel-default results">
                <div class="panel-heading top">Results</div>
                <div class="panel-body">
                    Happiness: <br>
                    Fear: <br>
                    Surprised: <br>
                    Anger: <br>
                    Disgust: <br>
                    Neutral: <br>
                    Sadness: <br>
                </div>
              </div>
          <br>      
    </div>
    <br><br><br>